*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.main {
    width: 100vw;
    height: 100vh;
    background-color: silver;
}
.header{
    display: block;
    width: 100vw;
    height: 80px;
    background-color: steelblue;
}
.aside{
    display: inline-block;
    width: 30%;
    height: 500px;
    background-color: tomato;
}
.aside-section{
    position: relative;
    background-color: thistle;
    width: 80%;
    height: 20%;
    margin: 15px auto;
    border-radius: 8px;
    
}
.content{
    display: inline-block;
    width: 69%;
    height: 500px;
    background-color: turquoise;

}
.footer{
    width: 100%;
    height: 250px;
    background-color: violet;

}